# Node modules
node_modules/
.env

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
bower_components/

# Build directories
dist/
build/

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Coverage reports
coverage/

# Local environment overrides
*.local

# React production build
**/build

# Optional npm cache
.npm

# Parcel cache
.cache/

# Firebase cache
.firebase/

# Debugger config
*.swp
